In [1]:
# 문자열

# 문자열의 기본 특성
# 쌍따옴표나 홑따옴표로 감싸야 한다 -> 따옴표의 혼용을 불가
msg1 = "Life is too short"
msg2 = 'You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [4]:
# 문자열 연산 규칙

# 문자열의 덧셈은 문자열을 연결하는 기능
print( msg1 + ", " + msg2 )

Life is too short, You need Python

In [5]:
# 문자열과 숫자의 곱셈은 동일 내용을 여러번 반복한다.
name = "Python"
print(name * 5)

PythonPythonPythonPythonPython

In [6]:
# 따옴표로 감싸면 무조건 문장
# -> 숫자가 아니므로 연산 결과도 문자열 연산 규칙을 따른다
pay = "20000"
bouns = "100"
print(pay + bouns)

20000100

In [7]:
# 이스케이프 문자 사용하기

# 쌍따옴표 안에 쌍따옴표 넣기 -> 이스케이프 문자 사용
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [8]:
# 홀따옴표 안에 홀따옴표 넣기 -> 이스케이프 문자 사용
case2 = "Life is \'too\' short"
print(case2)

Life is 'too' short

In [9]:
# 따옴표의 쌍을 조절하는 방법
case3 = "You 'need' Python"
print(case3)

You 'need' Python

In [10]:
case4 = 'You "need" Python'
print(case4)

You "need" Python

In [11]:
# 이스케이프 문자를 활용하여 줄바꿈, 탭키 등을 표현하기

# 줄바꿈 => \n
print("Life is too short\nyou need Python")

Life is too short
you need Python

In [12]:
# 탭키 => \t
print("Life is too short\tyou need Python")

Life is too short	you need Python

In [13]:
# 순수한 역슬래기 출력 => \\
print("Life is too short\\you need Python")

Life is too short\you need Python

In [14]:
# 문자열 인덱싱

str = "Life is too short, you need Python"

# 3번째 문자 추출 -> 0부터 카운트
print( str[3])

e

In [15]:
# 뒤에서 3번째 문자 추출 -> -1부터 카운트
# (0과 -0이 같은 값이기 때문)
print( str[-3])

h

In [17]:
# 문자열 슬라이싱

# 앞에서 0번째부터 3번째 전까지의 문자 추출
print( str[0:3])

Lif

In [18]:
# 앞에서 5번째부터 7번째 전까지의 문자 추출
print( str[5:7])

is

In [19]:
# 앞에서 19번째부터 끝까지 추출
print(str[19:])

you need Python

In [20]:
# 처음부터 앞에서 17번 전까지의 문자 추출
print(str[:17])

Life is too short

In [21]:
# 처음부터 끝까지 추출
print(str[:])

Life is too short, you need Python

In [22]:
# 앞에서 19번째부터 뒤에서 -7번째 다음까지 추출
print(str[19:-7])

you need

In [23]:
# 문자열 슬라이싱 활용 예시

# [응용] 글자수가 정해져 있는 경우 활용도 높음
# ex) "80년05월27일 남자"의 주민번호 일부

jumin = "8005271"
birth = jumin[:6]  #생일
gender = jumin[6:] #성별
print(birth)
print(gender)

800527
1

In [24]:
# 태어난 년도, 월, 일
year = "19" + jumin[:2]
month = jumin[2:4]
day = jumin[4:6]
print(year)
print(month)
print(day)

1980
05
27