In [4]:
# 리스트

# 2차원 리스트의 생성

stud1 = ["철수", 98]
stud2 = ["영희", 82]
stud3 = ["나영", 73]

stud_group = [stud1, stud2, stud3]
print(stud_group)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [5]:
# 2차원 리스트의 일괄 생성

grade=[
    ["민식",64],
    ["호영",100]
]
print(grade)

[['민식', 64], ['호영', 100]]

In [6]:
# 1차원 원소에 접근하기

print(stud_group[0]) # stud_group의 0번째 원소
print(stud_group[1]) # stud_group의 1번째 원소

['철수', 98]
['영희', 82]

In [7]:
# 2차원 원소에 접근하기

print(stud_group[0][0]) #0번째 원소의 0번째 항목
print(stud_group[0][1]) #0번째 원소의 1번째 항목
print(stud_group[1][0]) #1번째 원소의 0번째 항목
print(stud_group[1][1]) #1번째 원소의 1번째 항목

철수
98
영희
82

In [8]:
# 리스트의 인덱싱

mylist = [ 10, 20, 30, 40, 50 ]

In [9]:
# 1번째 원소의 접근 -> 0부터 카운트
print(mylist[1])

20

In [10]:
# 뒤에서 1번째 원소에 접근 -> 1부터 카운트
print(mylist[-1])

50

In [11]:
# 리스트의 슬라이싱
mylist = [ 60, 70, 80, 90, 100]

In [12]:
# list에서 1번째부터 3번째 전까지 -> 3번째 원소 포함안됨
print(mylist[1:3])

[70, 80]

In [13]:
# 처음부터 3번째 전까지 -> 3번째 원소 포함안됨
print(mylist[:3])

[60, 70, 80]

In [14]:
# list[3]부터 끝까지 -> 3번째 원소 포함됨
print(mylist[3:])

[90, 100]

In [15]:
# list의 모든 원소
print(mylist[:])

[60, 70, 80, 90, 100]

In [16]:
# list에서 1번째부터 뒤에서 부터 2번째 다음까지
# -> 마이너스 값을 사용하여 지정할 경우 "다음까지"의 의미
print(mylist[1:-2])

[70, 80]

In [17]:
# 리스트의 연산
# 리스트간의 덧셈과 리스트와 정수간의 곱셈이 지원된다

# 실습을 위한 리스트 정의
list1=[1,2,3]
list2=[4,5,6]

In [18]:
# 리스트끼리의 덧셈은 단순 병합
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [19]:
# 리스트와 정수의 곱셈은 동일 내용을 반복한다
list4=list1*3
print(list4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# 리스트 연산의 에러 케이스
# 리스트 + 정수
# 리스트 + 문자열
# 리스트 + 리스트
print(list4+10)

TypeError: can only concatenate list (not "int") to list

In [21]:
# 리스트의 원소 수정하기
# 대입연산자의 이용한 단일 값 수정

mylist=[1,2,3]
mylist[2]=4
print(mylist)

[1, 2, 4]

In [22]:
# 대입연산자를 이용하여 주어진 범위를 수정
mylist=[1,2,3]
mylist[1:3] = [20,30]
print(mylist)

[1, 20, 30]

In [23]:
# 리스트의 확장, 축소
# 슬라이싱의 끝 위치는 항상 그 전까지임을 기억

# 주어진 범위보다 작은 개수를 갖는 리스트 지정 --> 리스트가 잘림

mylist=[1,2,3]
mylist[1:3]=[1000]
print(mylist)

[1, 1000]

In [24]:
# 주어진 범위보다 많은 개수를 갖는 리스트 지정 --> 리스트 확장
mylist=[1,2,3]
mylist[1:2]=[7,8,9,10]
print(mylist)

[1, 7, 8, 9, 10, 3]

In [25]:
# 리스트 확장, 축소
# 인덱싱으로 접근하는 경우 -> 단순삽입
# -> 1번째 원소에 다른 리스트 삽입
mylist=[1,2,3,4,5]
print(mylist)

mylist[1]=[100,200]
print(mylist)

[1, 2, 3, 4, 5]
[1, [100, 200], 3, 4, 5]

In [26]:
# 슬라이싱으로 접근하는 경우 -> 주어진 범위를 "확장"
# -> 1번째 위치에서 100이 저장, 그 다음 원소에 200이 저장
# 원래는 2번째 위치부터는 뒤로 밀려난다

mylist=[1,2,3,4,5]
print(mylist)

mylist[1:2]=[100,200]
print(mylist)

[1, 2, 3, 4, 5]
[1, 100, 200, 3, 4, 5]

In [27]:
# 리스트 원소 삭제
# 특정 위치의 원소 삭제
# -> 삭제 후 빈자리가 매워짐

mylist = [1,2,3,4,5]
del(mylist[1])
print(mylist)

[1, 3, 4, 5]

In [28]:
# 특정 범위(1번째부터 3번째 전까지)의 원소 삭제
# -> 삭제 후 빈자리가 매워짐

mylist=[1,2,3,4,5]
del(mylist[1:3])
print(mylist)

[1, 4, 5]

In [29]:
# 특정 범위를 삭제하는 또 다른 방법
mylist = [1, 2, 3, 4, 5]
del(mylist[1:3])
print(mylist)

[1, 4, 5]

In [30]:
# 리스트의 원소 세기
# 전체 원소의 개수 조회

my_list=[1,2,3]
size = len(my_list)
print(size)

3

In [31]:
# 주어진 값과 일치하는 원소의 개수 세기

my_list=[1,2,3,2]
c=my_list.count(2)
print(c)

2

In [32]:
# 해당 값이 가장 처음 나타나는 위치(인덱스 반환)

my_list=[1,2,3,10,1,2,3,10]
x=my_list.index(10)
print(x)

3

In [33]:
# 리스트의 원소 추가
# 맨 뒤에 내용 추가

my_list =[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [34]:
# 리스트를 append 할 경우 2차 리스트로 삽입

my_list=[1,2,3]
my_list.insert(1,10)
print(my_list)

[1, 10, 2, 3]

In [35]:
# 중간 삽입
# -> 1번째 위치에 10을 삽입. 기존의 항목들은 뒤로 밀려난다

my_list=[1,2,3]
my_list.insert(1,10)
print(my_list)

[1, 10, 2, 3]

In [36]:
# 리스트의 확장
# extend() 함수를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다

my_list =[1,2,3]
addon = [10,9,8,7]
my_list.extend(addon)
print(my_list)

[1, 2, 3, 10, 9, 8, 7]

In [37]:
# 리스트의 원소 삭제
# 맨 마지막 요소를 꺼내고 삭제
# -> 마지막 요소를 리턴한다

my_list=[1,2,3]
k=my_list.pop()
print(k)
print(my_list)

3
[1, 2]

In [38]:
print(my_list.pop())
print(my_list)

2
[1]

In [39]:
# 주어진 값과 일치하는 첫 번째 원소를 삭제
my_list = [ 1, 2, 3, 10, 1, 2, 3, 10 ]
my_list.remove(10)
print(my_list)

[1, 2, 3, 1, 2, 3, 10]

In [40]:
# 리스트 정렬하기
# 순서 뒤집기
my_list = [ 1, 7, 5, 3, 9 ]
my_list.reverse()
print(my_list)

[9, 3, 5, 7, 1]

In [41]:
# 순차 정렬
my_list = [ 2, 5, 1, 4, 3 ]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5]

In [42]:
# 역순 정렬
my_list = [ 2, 5, 1, 4, 3 ]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]

In [43]:
# 문자열을 잘라서 리스트로 변환하는 함수
# 문자열을 주어진 글자를 기준으로 잘라서 리스트로 변환
# -> 문자열 객체에 포함된 함수 사용
text = "Hello,Python,World,Good"
mylist = text.split(",")
print(mylist)

['Hello', 'Python', 'World', 'Good']

In [44]:
# 튜플
# 기본적으로 리스트와 동일한 특성을 갖는다

# 5명의 학생에 대한 성적 나열
grade = ( 98, 82, 73, 64, 100 )
print(grade)

(98, 82, 73, 64, 100)

In [45]:
# 각 학생의 이름에 대한 나열
names = ( "철수", "영희", "나영", "민식", "호영" )
print(names)

('철수', '영희', '나영', '민식', '호영')

In [46]:
# 자료형에 대한 혼합사용도 가능함
stud1 = ( "철수", 98 )
print(stud1)

('철수', 98)

In [47]:
# 값 읽기
print(stud1[0])
print(stud1[1])

철수
98

In [48]:
# 튜플의 원소 변경하기

# 값의 변경 --> 튜플은 값의 변경이 불가능하므로 에러
stud1[0] = "철호"

TypeError: 'tuple' object does not support item assignment