In [1]:
# 내장함수

# print() 함수의 다양한 사용 방법(1)

# 기본형
print("Hello World")

Hello World

In [2]:
# 문장 여러개를 공백으로 구분하여 지정할 경우 "+"연산과 동일하다
# -> 단순한 문자열 연결
print("Life"+"is"+"short")
print("Life" "is" "short")

Lifeisshort
Lifeisshort

In [3]:
# 문장을 콤마로 구분하면 띄어쓰기가 수행된다
# -> 문자열 이외의 다른 타입의 변수도 사용 가능함
a = 100
print("Life", "is", "short", a)

Life is short 100

In [4]:
# print()함수의 다양한 사용 방법(2)

# 출력할 내용을 구성하고 마지막 'end=""'라고 지정하면 줄바꿈을 수행하지 않는다
print("Life ", end="")
print("is ", end="")
print("short ", end="")

Life is short

In [5]:
# end는 출력후 마무리를 어떻게 할 지 지정하는 기능
# -> 기본값은 (줄바꿈문자)"\n"으로 지정되어 있다
print("you", "need", "Python", end="~~^^)/")

you need Python~~^^)/

In [6]:
# 변수의 자료형 조회
a = 123
print( type(a))

<class 'int'>

In [7]:
b = 123.45
print( type(b))

<class 'float'>

In [8]:
# 변수에 저장하지 않고 값을 직접 전달하여 자료형 조회
print( type("hello"))
print( type( True ))
print( type( [ 1, 2 ] ))
print( type( ( 1, 2 ) ))
print( type({"name": "Python"} ))

<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [40]:
# 변수의 자료형 검사

# 첫 번째 파라미터는 검사하고자 하는 변수
# 두 번째 파라미터는 type()함수에서 표시하는 자료형(클래스) 이름
i = {"name": "Python"}
k = isinstance(i, dict)
print(k)

True

In [10]:
a = 100
if isinstance(a, int):
    print("a는 정수 타입 입니다.")
else:
    print("a는 정수 타입이 아닙니다.")

a는 정수 타입 입니다.

In [11]:
# 문자열과 숫자의 상호 변환
# 변수의 타입을 변환하는 처리를 데이터 형 변환이라고 한다

# 문자열을 숫자로 변환하기
x = "123"
y = "45"

# -> 문자열끼리 연결 : 12345
print(x+y)

# -> 문자열을 정수로 변환
x1 = int(x)  # 123
y1 = int(y)  # 45
print(x1 + y1)

12345
168

In [12]:
# -> 문자열이나 정수형을 실수형태로 변환
x2 = float(x)   # -> 문자열을 실수로 변환 = 123.0
y2 = float(y1)  # -> 정수형을 실수로 변환 = 45.0
print(x2 + y2)

168.0

In [13]:
# 간단한 연산 기능 함수

# 제곱 구하기 -> '2**8' 연산과 동일한 결과
a = pow(2, 8)
print(a)

256

In [15]:
# 절대값 구하기
a = abs(100)
print(a)

b = abs(-100)
print(b)

c = abs(-12.345)
print(c)

100
100
12.345

In [16]:
# 나눗셈의 몫과 나머지 구하기

# 나눗셈의 연산 결과를 정수 부분의 몫과 나머지로 계산하여 튜플로 리턴
c = divmod(7, 3)
print(c)

(2, 1)

In [17]:
hours = 800
k = divmod(800, 24)
tpl = "{0}일 {1}시간"
print( tpl.format(k[0],k[1]))

33일 8시간

In [38]:
# 결과가 튜플로 리턴되므로 값을 서로 다른 변수에 나누어 저장할 수 있다
days, hours = divmod(900, 24)
tpl = "{0}일 {1}시간"
tpl = "{0}일 {1}시간"
print( tpl.format(days, hours))

37일 12시간

In [20]:
# 연속성 자료형의 길이 구하기

# 반복가능한 자료형(리스트, 튜플, 문자열, 딕셔너리)의 길이 구하기
# -> 문자열인 경우 각 글자를 리스트의 원소로 변환함
a = [ 1, 2, 3 ]
size = len(a)
print(size)

3

In [21]:
# 최대값, 최소값, 합계 구하기

# 리스트, 튜플 중에서
# 최대값, 최소값, 합계 구하기 -> 문자열은 계산 불가
a = [ 1, 2, 3 ]
print( max(a) )
print( min(a) )
print( sum(a) )

3
1
6

In [22]:
# 평균을 구하는 기능은 없기 때문에 직접 계산해야 함
avg = sum(a) / len(a)
print(avg)

2.0

In [26]:
# 리스트, 튜플 상호 변환

# 반복 가능한 자료형을 리스트로 변환
# 문자열의 경우 글자들의 모음으로 변환함

a = "Python"
b = list(a)
#b = tuple(a)
print(b)

['P', 'y', 't', 'h', 'o', 'n']

In [27]:
# 튜플을 리스트 혹은 튜플로 변환함
c = (1, 2, 3)
d = list(c)
#d = tuple(c)
print(d)

[1, 2, 3]

In [28]:
# 리스트를 리스트 혹은 튜플로 변환함
e = [10, 20, 30]
f = list(e)
#f = tuple(e)
print(f)

[10, 20, 30]

In [41]:
# 딕셔너리의 key와 value 분리

# 딕셔너리일 경우 key만 추려서 리스트 혹은 튜플로 변환하기
g = {"a": 100, "b":200}
h = list(g.keys())
#h = tuple(g.key())
print(h)

['a', 'b']

In [31]:
# 딕셔너리일 경우 valse만 추려서 리스트 혹은 튜플로 변환하기
i = list(g.values())
#i = tuple(g.values())
print(i)

[100, 200]

In [32]:
# 1부터 10전까지 1씩 증가하는 range 객체 생성
k = range(1, 10)
print(type(k))
print(k)

<class 'range'>
range(1, 10)

In [33]:
# 생성된 수열 객체를 리스트로 변환
z = list(k)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# 1부터 10 전까지 3씩 증가하는 range 객체를 list 변환
k = list(range(1, 10, 3))
print(k)

[1, 4, 7]

In [35]:
# 리스트의 정렬

# 리스트 자체를 정렬하기
data = [ 1, 4, 2, 3, 5 ]
data.sort()
print(data) # 원본 리스트 자체가 정렬됨, 리턴값은 없음

[1, 2, 3, 4, 5]

In [36]:
data = [ 1, 4 ,2, 3, 5 ]
k = sorted(data)
print(data) # 원본은 변화 없음
print(k)    # 정렬된 결과가 리턴됨

[1, 4, 2, 3, 5]
[1, 2, 3, 4, 5]