In [3]:
# 문제1
x=3
sum=0

while x <= 100:
    sum += x
    print ("x=%d, sum=%d" %(x,sum))
    x += 3

x=3, sum=3
x=6, sum=9
x=9, sum=18
x=12, sum=30
x=15, sum=45
x=18, sum=63
x=21, sum=84
x=24, sum=108
x=27, sum=135
x=30, sum=165
x=33, sum=198
x=36, sum=234
x=39, sum=273
x=42, sum=315
x=45, sum=360
x=48, sum=408
x=51, sum=459
x=54, sum=513
x=57, sum=570
x=60, sum=630
x=63, sum=693
x=66, sum=759
x=69, sum=828
x=72, sum=900
x=75, sum=975
x=78, sum=1053
x=81, sum=1134
x=84, sum=1218
x=87, sum=1305
x=90, sum=1395
x=93, sum=1488
x=96, sum=1584
x=99, sum=1683

In [11]:
total = 0 
for i in range(1, 101):
    if i % 3 ==0:
        total += i
print(total)

1683

In [11]:
# 문제2
# 숫자 x를 입력받은 후 x에 대한 팩토리얼을 for문 활용
a=int(input(" 숫자를 입력하세요 : "))
x=1
for numbers in range(1, a+1):
    x *=numbers
print("%d의 값은 %d  " % (a,x))

 숫자를 입력하세요 :  3

3의 값은 6

In [ ]:
# 문제3
a=0
sum=0
while a <= 100:
    sum += a
    print("a=%d, x=%d" % (a,sum) )
    a += 2

a=0, x=0
a=2, x=2
a=4, x=6
a=6, x=12
a=8, x=20
a=10, x=30
a=12, x=42
a=14, x=56
a=16, x=72
a=18, x=90
a=20, x=110
a=22, x=132
a=24, x=156
a=26, x=182
a=28, x=210
a=30, x=240
a=32, x=272
a=34, x=306
a=36, x=342
a=38, x=380
a=40, x=420
a=42, x=462
a=44, x=506
a=46, x=552
a=48, x=600
a=50, x=650
a=52, x=702
a=54, x=756
a=56, x=812
a=58, x=870
a=60, x=930
a=62, x=992
a=64, x=1056
a=66, x=1122
a=68, x=1190
a=70, x=1260
a=72, x=1332
a=74, x=1406
a=76, x=1482
a=78, x=1560
a=80, x=1640
a=82, x=1722
a=84, x=1806
a=86, x=1892
a=88, x=1980
a=90, x=2070
a=92, x=2162
a=94, x=2256
a=96, x=2352
a=98, x=2450
a=100, x=2550

In [10]:
total = 0
i = 0

while i <= 100:
    total += i
    i+=2
print("0과 100사이에 있는 짝수의 합계 : %d" % total)

0과 100사이에 있는 짝수의 합계 : 2550

In [4]:
#문제4
# 80 점 이상의 총합
students=[85, 65, 77, 83, 75, 22, 98, 88, 38, 100 ]
total = 0
for student in students:
    if student >= 80:
        print("%d는 80점 이상" %student)
        total += student
print(("총합은 : %d" % (total)))

85는 80점 이상
83는 80점 이상
98는 80점 이상
88는 80점 이상
100는 80점 이상
총합은 : 454

In [8]:
students=[85, 65, 77, 83, 75, 22, 98, 88, 38, 100 ]
total = 0
for i in students:
    if i >= 80:
        total += i
print(total)

454

In [2]:
#문제5
n=int(input(" 숫자를 입력하세요 : "))
a=1
while a <= 10 :
    n = a ** 2
    a += 1 
    
    print("%d %d" % ( a, n ))

 숫자를 입력하세요 :  3

2 1
3 4
4 9
5 16
6 25
7 36
8 49
9 64
10 81
11 100

In [6]:
n=int(input(" 숫자를 입력하세요 : "))
a=1
while a <= n :
    print("%d %d" % ( a, a**2 ))   
    a += 1

 숫자를 입력하세요 :  3

1 1
2 4
3 9

In [12]:
# 문제6
a = [9, 8, 6, 1, 4, 5]
max = a[0]

for i in a :
    if i > max:
        max = i
        
print(max)

9

In [9]:
# 문제7
a = [9, 8, 6, 1, 4, 5]
min = a[0]

for i in a:
    if i < min:
        min=i
        
        
print(m)

1

In [7]:
# 문제7
mylist = [9, 8, 6, 1, 4, 5]

#구해야 하는 최소값 --> 리스트의 원소 중 임의의 하나를 지정해서 시작
min_value = mylist[0]

#리스트의 각 원소와 max_value를 비교하여 원소가 더 크다면 그 원소값을 max_value에 저장
for i in mylist:
    if min_value > i:
        min_value=i
        
        
print(min_value)

1